/*** 삭제될 수도 있음 ***/
html, body {height:100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, button {margin:0;padding:0;line-height:1.4em;}
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea {margin:0;color:#666666;font-size:12px;font-family:"돋움",dotum;}
ul, ol, dl, dt, dd, tr, th, td {margin:0;padding:0;list-style:none;}
img {border:none;vertical-align:top;}
hr {display:none;}
a {text-decoration:none;}
a:link,
a:visited {color:#454545;}
a:hover,
a:focus {color:#ff6600;}

.left      {text-align:left;}
.right     {text-align:right;}
.center    {text-align:center;}

.nomal_font_01{font-size:12px;}
.nomal_font_02{font-size:14px;}
.nomal_font_03{font-size:16px;}


/** 테이블 **/

.table1 			{margin-bottom:10px;border-collapse:collapse;border-spacing:0;border-top:2px solid #335377;border-bottom:1px solid #8597ab;}
.table1 caption 	{position:absolute;visibility:hidden;height:0;font-size:0;}
.table1 th 			{padding:5px;border-right:1px solid #8597ab;border-bottom:1px solid #adadad;}
.table1 td			{padding:4px;border-right:1px solid #8597ab;border-bottom:1px solid #adadad;color:#5d5d5d;}
.table1 .t_head 	{background:#edf0f4;color:#324c6c;font-weight:bold;}
.table1 .t_left{background:#f5f5f5;color:#324c6c;font-weight:normal;border-right:1px solid #8597ab;}
.table1 .t_body{background:#f5f5f5;color:#657485;}
.table1 .t_end 		{border-right:none;}
.table1 tfoot 		{background:none;}
.table1 ul 			  {text-align:justify;}
.table1 .EditText{padding:10px;}
.table1 .inputType{margin:0;}
.table1 .inputType label  {display:inline-block;text-align:left; margin:0 10px 0 2px; *margin:0 5px 0 2px; line-height:18px;vertical-align:middle;}
.table1 .inputType input{display:inline-block;text-align:left;margin:2px 0 0 0;}

/*삭제해도됨*/
h4  {margin:0 0 6px 3px;padding:0 0 0 18px;font-size:12px;color:#000000;letter-spacing:-1px;background:url(/resources/images/h4.gif) no-repeat left top;}

.write_tip {display:inline-block;width:19px;height:19px;line-height:19px;text-align:center;}
.write_tip img {padding:2px;}

.butt {display:inline-block;height:21px;background:url(/resources/images/small_butt_l.gif) no-repeat left top;}
.butt span {display:inline-block;height:21px;padding:3px 7px 0 7px;font-size:11px;font-weight:bold;letter-spacing:-1px;color:#666666;background:url(../img/small_butt_r.gif) no-repeat right top;cursor:pointer;}

/***** board list ****/
.board_list_info {padding:0 10px;*zoom:1;}
.board_list_info:after {content:" ";display:block;visibility:hidden;clear:both;}
.board_list_info .page_num {float:left;margin:0;*margin-top:15px;padding:0 0 0 8px;font-size:11px;}
.board_list_info .board_find {float:right;border:none;}
.board_list_info .board_find * {vertical-align:top;}
.board_list_info .board_find legend {position:relative;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_list_info .board_find label {position:absolute;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_list_info .board_find select {width:75px;height:19px;border:1px solid #c2c2c2;}
.board_list_info .board_find #findWrite {*position:relative;*top:-1px;width:190px;height:15px;border:1px solid #c2c2c2;}
.board_listWrap {width:100%;margin:10px 0;background:url(/resources/images/list_top.gif) repeat-x left top;}
.board_list {padding:0 15px 0 10px;background:url(/resources/images/list_top_nd.gif) no-repeat right top;}
.board_list table {width:100%;table-layout:fixed;border-spacing:0;text-align:center;}
.board_list caption {position:relative;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_list th {padding:6px 5px 12px 4px;color:#424242;vertical-align:top;background:url(/resources/images/list_top_ln.gif) no-repeat left 6px;}
.board_list th.head_first {background:none;}
.board_list td {padding:6px 5px;border-bottom:1px solid #e5e5e5;}
.board_list td.title {text-align:left;}
.board_list td.title img {margin-right:5px;}
.board_list col {background:none;}
.board_list .condition {color:#f67e14;}
.board_listBox {background:url(/resources/images/list_top_fr.gif) no-repeat left top;}
.board_listPage {margin:10px 0;text-align:center;line-height:18px;}
.board_listPage * {vertical-align:center;}
.board_listPage span.arrow img {display:inline-block;width:19px;height:18px;}
.board_listPage span.page_num {display:inline-block;padding-right:5px;}
.board_listPage span.page_num a {display:inline-block;padding:0 7px 0 9px;background:url(/resources/images/list_page_ln.gif) no-repeat left 1px;}
.board_listPage span.page_num strong {display:inline-block;padding:0 7px 0 9px;background:url(/resources/images/list_page_ln.gif) no-repeat left 1px;}
.board_listPage span.page_num .first {background:none;}
.board_butt {margin:10px 0;padding:0 10px;text-align:right;*zoom:1;}
.board_butt:after {content:" ";display:block;visibility:hidden;clear:both;}
.board_list_butt {margin:10px 0;padding:10px 10px 0 10px;border-top:1px solid #dddddd;text-align:right;*zoom:1;}
.board_list_butt:after {content:" ";display:block;visibility:hidden;clear:both;}


/***** board view ****/
.board_viewTit {padding:6px 10px 4px 95px;border-top:2px solid #ddd;border-bottom:1px solid #ddd;background:url(/resources/images/view_tit_ln.gif) no-repeat 78px 6px;line-height:18px;}
.board_viewTit h4 {margin:0;padding:0;font-weight:normal;background:none;letter-spacing:0px;}
.board_viewTit h4 span {display:inline-block;width:83px;margin-left:-95px;padding-left:12px;color:#424242;font-weight:bold;letter-spacing:-1px;}
.board_viewInfo {width:100%;*zoom:1;}
.board_viewInfo:after {content:"";display:block;visibility:hidden;clear:both;}
.board_viewInfo li {margin-top:7px;padding:0 10px 4px 95px;border-bottom:1px solid #dddddd;background:url(/resources/images/view_tit_ln.gif) no-repeat 78px top;line-height:18px;}
.board_viewInfo li span {display:inline-block;width:83px;margin-left:-95px;padding-left:12px;color:#424242;font-weight:bold;letter-spacing:-1px;}
.board_viewInfo li.file{overflow:hidden;}
.board_viewInfo li.file:after {content:" ";display:block;visibility:hidden;clear:both;}
.board_viewInfo li.file span{display:block;float:left;}
.board_viewInfo li.file div{display:block;float:left;}
/*.board_viewInfo li.file div {margin-top:-17px;}*/
.board_viewInfo li.file a {display:block;padding-left:17px;background:url(/resources/images/list_icon_file.gif) no-repeat left 1px;}
.board_viewInfo li.file a:link,
.board_viewInfo li.file a:visited {font-size:11px;color:#757575;}
.board_viewInfo li.file a:hover,
.board_viewInfo li.file a:active,
.board_viewInfo li.file a:focus {font-size:11px;color:#757575;text-decoration:underline;}
.board_viewHtit {position:absolute;visibility:hidden;height:0;font-size:1px;line-height:0;}
.board_viewDetail {padding:20px 10px;width:96%;}
.board_viewDetail table{width:600px;}
.board_viewImg {margin-top:20px;text-align:center;}
.board_viewPage {margin-bottom:10px;border-top:1px solid #dddddd;border-left:1px solid #dddddd;}
.board_viewPage li {padding:6px 15px 6px 77px;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;background:url(/resources/images/view_page_tit.gif) repeat-y;}
.board_viewPage li span {display:inline-block;width:73px;margin:0 19px 0 -77px;text-align:center;color:#424242;font-weight:bold;letter-spacing:-1px;}
.board_comp {padding:8px;border:1px solid #dddddd;background:url(/resources/images/comp_tit.gif) repeat-y;*zoom:1;}
.board_comp:after {content:" ";display:block;visibility:hidden;clear:both;}
.board_comp p.comp_tip {float:left;width:75px;margin:0;padding:1px 0 0 15px;color:#f67e14;font-weight:bold;font-size:0.9em;letter-spacing:-1px;background:url(/resources/images/comp_icon.gif) no-repeat left 1px;}
.board_comp fieldset.comp_wrt {float:left;border:none;}
.board_comp fieldset.comp_wrt legend {display:none;}
.board_comp fieldset.comp_wrt * {margin:0;padding:0;}
.board_comp p.comp_count {float:right;margin:0;padding:1px 0 0 7px;font-size:11px;background:url(/resources/images/comp_bul.gif) no-repeat left 5px;}
.board_comp p.comp_count span {font-weight:bold;color:#f67e14;}
.board_talk {position:relative;margin:10px 0;padding:10px 70px 10px 15px;_padding-right:65px;border:1px solid #dddddd;background:#f2f2f2;}
.board_talk label {position:absolute;visibility:hidden;height:0;font-size:1px;line-height:0;}
.board_talk p.talk_tip {margin:0;padding:0 0 10px 17px;font-size:0.9em;background:url(/resources/images/talk_icon.gif) no-repeat left 2px;}
.board_talk ul.talk_auth {position:absolute;top:10px;right:15px;*zoom:1;}
.board_talk ul.talk_auth:after {content:"";display:block;visibility:hidden;clear:both;}
.board_talk ul.talk_auth li {float:left;padding-left:5px;font-weight:bold;color:#6f6f6f;font-size:0.9em;}
.board_talk ul.talk_auth li a:link,
.board_talk ul.talk_auth li a:visited {font-size:1em;color:#6f6f6f;font-weight:bold;}
.board_talk ul.talk_auth li a:hover,
.board_talk ul.talk_auth li a:active,
.board_talk ul.talk_auth li a:focus {font-size:1em;color:#6f6f6f;font-weight:bold;text-decoration:underline;}
.board_talk #talkWrt {width:100%;height:38px;border:1px solid #bfbfbf;}
.board_talk #talkEntry {position:absolute;top:36px;*top:38px;_top:39px;right:15px;width:45px;height:41px;}
.board_reply {table-layout:fixed;width:100%;}
.board_reply caption {position:relative;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_reply thead {position:absolute;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_reply td {padding:10px 5px;border-bottom:1px solid #dddddd;font-size:11px;vertical-align:top;}
.board_reply td.writer {padding-left:10px;color:#424242;}
.board_reply td.info {color:#8f9296;}



/***** board write ****/
.board_writeTit {background:url(/resources/images/view_tit_ln.gif) no-repeat 78px 6px;}
.board_writeInfo {width:100%;border-top:2px solid #dddddd;*zoom:1;}
.board_writeInfo:after {content:"";display:block;visibility:hidden;clear:both;}
.board_writeInfo li {margin-top:7px;padding:0 10px 4px 95px;border-bottom:1px solid #dddddd;background:url(/resources/images/view_tit_ln.gif) no-repeat 78px top;}
.board_writeInfo li label {display:inline-block;width:83px;margin-left:-95px;padding-left:12px;color:#424242;font-weight:bold;letter-spacing:-1px;}
.board_writeInfo li input {height:15px;border:1px solid #bfbfbf;}
.board_writeInfo li input[type="radio"] {border:none;}
.board_writeInfo li input[type="checkbox"] {border:none;}
.board_writeInfo #wrtTitle {width:99%;}
.board_writeInfo #wrtPers {width:100px;}
.board_writeInfo #wrtPhone {width:60px;}
.board_writeInfo .wrtPhone1 {width:50px;}
.board_writeInfo .wrtPhone2 {width:50px;}
.board_writeInfo #wrtMail {width:80px;}
.board_writeInfo .mailList {width:120px;}
.board_writeInfo .mailAdd {width:150px;}
.board_writeInfo #wrtFile {height:19px;}
.board_writeInfo .upFile {height:19px;}
.board_writeInfo #wrtCont {width:99%;border:1px solid #bfbfbf;vertical-align:top;}
.board_writeInfo .wrtBrno {border:none;}
.board_writeInfo span.tip {padding-left:10px;font-size:0.9em;color:#ff6600;}




/***** bodo list ****/
.bodo_list {margin-top:10px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.bodo_listThum {position:relative;padding:21px 8px 20px 8px;background:url(/resources/images/bodo_ln.gif) repeat-x left top;*zoom:1;}
.bodo_listThum:after {content:" ";display:block;visibility:hidden;clear:both;}
.bodo_listThum img.bodoImg {position:absolute;top:21px;left:8px;display:block;width:126px;height:84px;padding:10px 11px 11px 11px;background:url(/resources/images/bodo_thum.gif) no-repeat;}
.bodo_listThum img.bodoImg2 {position:absolute;top:21px;left:8px;display:block;width:126px;height:204px;padding:10px 11px 10px 11px;background:url(/resources/images/bodo_thum2.gif) no-repeat;}
.bodo_listThum div.view {padding-top:5px;}
.bodo_listThum div.view h4 {padding:3px;color:#34383c;background:none;background:#ececec;_zoom:1;}
.bodo_listThum div.view h4 span.number {display:inline-block;width:24px;height:19px;margin-right:7px;text-align:center;font-weight:normal;line-height:19px;background:url(/resources/images/bodo_num.gif) no-repeat left top;}
.bodo_listThum div.view p {margin:8px 10px;padding:0;}
.bodo_listThum div.view ul.infomation {*zoom:1;}
.bodo_listThum div.view ul.infomation:after {content:" ";display:block;visibility:hidden;clear:both;}
.bodo_listThum div.view ul.infomation li {float:left;padding-right:10px;font-size:11px;}
.bodo_listThum div.view ul.infomation li span {font-weight:bold;letter-spacing:-1px;}
.bodo_list div.first {padding-top:20px;background:none;}
.bodo_list div.in_photo {min-height:105px;_height:105px;padding:21px 8px 20px 167px;}



/***** download popup ****/
.file_downTbl {table-layout:fixed;width:100%;border-top:1px solid #dddddd;border-left:1px solid #dddddd;}
.file_downTbl caption {position:relative;visibility:hidden;height:0;line-height:0;font-size:1px;}
.file_downTbl thead {position:absolute;visibility:hidden;height:0;line-height:0;font-size:1px;}
.file_downTbl tr,
.file_downTbl td {padding:3px 0;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;font-size:11px;}
.file_downTbl .number {text-align:center;background:#f5f5f5;}
.file_downTbl .file {display:block;padding-left:35px;background:url(/resources/images/list_icon_file.gif) no-repeat 17px 1px;}
.file_downTbl .file:link,
.file_downTbl .file:visited {color:#5b636b;}
.file_downTbl .file:hover,
.file_downTbl .file:active,
.file_downTbl .file:focus {color:#5b636b;font-weight:bold;letter-spacing:-1px;}
.file_downBtn {margin:15px 0;text-align:center;}



/***** password auth ****/
.board_auth {width:383px;height:81px;margin:50px auto;background:url(/resources/images/auth_bck.gif) no-repeat;}
.board_auth p.auth_tit {height:25px;margin:0;padding:10px 0 0 0;font-size:11px;text-align:center;color:#828282;}
.board_auth p.auth_tit strong {color:#3c3c3c;}
.board_auth fieldset {padding:12px 53px;border:none;}
.board_auth fieldset legend {display:none;}
.board_auth fieldset * {margin:0;padding:0;vertical-align:top;}
.board_auth fieldset label {display:inline-block;width:50px;padding:2px 0 0 15px;font-size:11px;background:url(/resources/images/list_icon_hold.gif) no-repeat left 4px;}
.board_auth fieldset #authPword {width:150px;height:17px;margin-right:5px;border:1px solid #c2c2c2;}
.board_auth fieldset .authButt {position:relative;top:-1px;*top:0;}



/***** photo board ****/
.board_photo {margin:10px 0;padding-top:15px;*padding-bottom:15px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.board_photo ul {*zoom:1;}
.board_photo ul:after {content:"";display:block;visibility:hidden;clear:both;}
.board_photo li {float:left;_display:inline;width:138px;margin:0 8px 15px 8px;background:url(/resources/images/photo_thum.gif) no-repeat left top;}
.board_photo li a.photo_thum {display:block;width:138px;height:123px;padding-top:15px;}
.board_photo li a.photo_thum img {display:block;width:100px;height:90px;margin:auto;border:1px solid #e5e5e5;}
.board_photo li p {margin:0;padding:5px 0 0 0;text-align:center;font-size:0.9em;}
.board_photo li p strong {display:block;font-weight:normal;text-align:center;font-size:1.1em;}
.board_photoGal {padding:20px 23px 0 23px;}
.board_photoGal .photo_big {text-align:center;}
/*.board_photoGal .photo_big img {width:595px;}*/
.board_photoGal .photo_galList {position:relative;width:563px;height:62px;margin-top:15px;padding:10px 15px 0 15px;border:1px solid #dddddd;}
.board_photoGal .photo_galList a.prev {display:block;position:absolute;top:-1px;left:-1px;width:27px;height:85px;}
.board_photoGal .photo_galList a.next {display:block;position:absolute;top:-1px;right:-1px;width:27px;height:85px;}
.board_photoGal .photo_galList .wrap {position:relative;overflow:hidden;height:51px;}
.board_photoGal .photo_galList ul {position:absolute;width:200%;*zoom:1;}
.board_photoGal .photo_galList ul:after {content:" ";display:block;visibility:hidden;clear:both;}
.board_photoGal .photo_galList ul li {float:left;padding-right:6px;}
.board_photoGal .photo_galList ul li img {width:73px;height:49px;border:1px solid #dddddd;}
.board_photoWrt {margin:15px 0;text-align:center;}
.board_photoWrt label {position:absolute;visibility:hidden;height:0;font-size:1px;line-height:0;}
.board_photoWrt textarea {width:97%;border:1px solid #c2c2c2;}
.board_photoUp {position:relative;border:1px solid #dddddd;}
.board_photoUp strong.title {display:block;padding:7px 25px;border-bottom:1px solid #dddddd;color:#424242;letter-spacing:-1px;background:#f3f3f3;}
.board_photoUp .head {position:absolute;top:-1px;_top:0;right:-1px;_right:0;width:15px;height:15px;line-height:15px;background:url(/resources/images/photo_up_top.gif) no-repeat;}
.board_photoUp .photoUp_rep {position:absolute;top:5px;right:25px;margin:0;padding:0;}
.board_photoUp .photoUp_rep label {display:inline-block;padding:2px 5px 0 13px;vertical-align:top;background:url(/resources/images/bul_01.gif) no-repeat left 6px;}
.board_photoUp .photoUp_rep select {width:90px;height:20px;vertical-align:top;border:1px solid #c2c2c2;}
.board_photoUp .photoUp_wrap {margin:15px 0;*zoom:1;background:url(/resources/images/photo_up_ln.gif) repeat-y center top;}
.board_photoUp .photoUp_wrap:after {content:"";display:block;visibility:hidden;clear:both;}
.board_photoUp .thumBox {float:left;width:50%;margin:10px 0;}
.board_photoUp .thumBox img.thumImg {display:block;_display:inline;float:left;width:82px;height:59px;margin-left:25px;border:1px solid #dddddd;}
.board_photoUp .thumBox p {float:left;width:50%;margin:0;padding:0 0 0 14px;}
.board_photoUp .thumBox label {display:block;color:#545252;font-weight:bold;letter-spacing:-1px;font-size:11px;}
.board_photoUp .thumBox .upload_file {width:280px;height:19px;border:1px solid #c2c2c2;}
.board_photoUp .thumBox .upload_alt {width:97.5%;height:15px;border:1px solid #c2c2c2;}

.board_photoUp .photoUp_wrap1 {margin:15px 0;*zoom:1;}
.board_photoUp .thumBox1 {float:left;margin:10px 0;}
.board_photoUp .thumBox1 img.thumImg {display:block;_display:inline;float:left;width:82px;height:59px;margin-left:25px;border:1px solid #dddddd;}
.board_photoUp .thumBox1 p {float:left;width:50%;margin:0;padding:0 0 0 14px;}
.board_photoUp .thumBox1 label {display:block;color:#545252;font-weight:bold;letter-spacing:-1px;font-size:11px;}
.board_photoUp .thumBox1 .upload_file {width:280px;height:19px;border:1px solid #c2c2c2;}
.board_photoUp .thumBox1 .upload_alt {width:97.5%;height:15px;border:1px solid #c2c2c2;}



.board_photoUp .photoUp_tip {padding:10px 0 10px 52px;border-top:1px solid #dddddd;background:#f3f3f3 url(/resources/images/photo_up_tip.gif) no-repeat 25px 11px;}
.board_photoUp .photoUp_tip li {padding-left:6px;background:url(/resources/images/bul_02.gif) no-repeat left 6px;}


/***** video board ****/
.board_video {margin:10px 0;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.board_video .video_list {position:relative;*zoom:1;padding:21px 0 20px 0;background:url(/resources/images/video_ln.gif) repeat-x left top;}
.board_video .video_list:after {content:"";display:block;visibility:hidden;clear:both;}
.board_video p {position:absolute;width:168px;height:140px;margin:0;padding:10px 0 0 0;text-align:center;background:url(/resources/images/video_list_thum.gif) no-repeat;}
.board_video p img.thumImg {display:block;width;146px;height:104px;margin:0 auto 6px auto;}
.board_video dl {min-height:139px;_height:139px;padding:11px 0 0 190px;}
.board_video dl dt {margin-bottom:5px;padding:5px 10px;color:#34383c;font-weight:bold;letter-spacing:-1px;background:#ececec;}
.board_video dl dd {padding:1px 18px;background:url(/resources/images/bul_02.gif) no-repeat 12px 6px;}
.board_video .first {padding:20px 0;background:none;}
.board_videoView {margin:20px 0;text-align:center;}
.board_videoCapt {border:1px solid #dddddd;}
.board_videoCapt strong.title {display:block;padding:5px 25px;border-bottom:1px solid #dddddd;color:#1a1919;letter-spacing:-1px;}
.board_videoCapt .wrap {overflow-y:auto;height:160px;margin:10px;padding:5px 15px;}



/***** board calendar ****/
.board_calendarTit {margin:20px 0 10px 0;padding:0 0 0 13px;color:#000000;background:url(/resources/images/calendar_tit.gif) no-repeat left 2px;}
.board_calendarTit2 {margin:20px 0 10px 0;padding:0 0 3px 13px;border-bottom:1px solid #dddddd;color:#000000;background:url(/resources/images/calendar_tit.gif) no-repeat left 2px;}
.board_calendar {position:relative;}
.board_calendar .calendar_top {position:absolute;top:0;left:50%;width:200px;margin-left:-100px;}
.board_calendar .calendar_top .prev {display:block;position:absolute;top:0;left:0;width:17px;height:17px;}
.board_calendar .calendar_top .next {display:block;position:absolute;top:0;right:0;width:17px;height:17px;}
.board_calendar .calendar_top p {margin:0;padding:0;font-size:14px;letter-spacing:-1px;font-weight:bold;text-align:center;}
.board_calendar .calendar_top p span {color:#f67e14;}
.board_calendar .calendar_later {position:absolute;top:0;right:0;}
.board_calendar .calendar_later * {vertical-align:top;}
.board_calendar .calendar_later label {position:absolute;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_calendar .calendar_later select {width:80px;height:18px;margin-right:1px;font-size:0.9em}
.board_calendar .month_tbl {margin-top:20px;padding:6px;background:#f2f2f2;}
.board_calendar .month_tbl table {table-layout:fixed;width:100%;border-top:1px solid #d7d7d7;border-left:1px solid #d7d7d7;background:#ffffff;}
.board_calendar .month_tbl caption {position:absolute;visibility:hidden;height:0;line-height:0;font-size:1px;}
.board_calendar .month_tbl th,
.board_calendar .month_tbl td {padding:7px;font-size:0.9em;border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;}
.board_calendar .month_tbl th {background:#f2f2f2 url(/resources/images/calendar_week.gif) no-repeat;}
.board_calendar .month_tbl th.sun {color:#f67e14;}
.board_calendar .month_tbl td {height:70px;vertical-align:top;color:#8c8c8c;line-height:1.2em;letter-spacing:-1px;}
.board_calendar .month_tbl td a {display:inline-block;padding-bottom:5px;}
.board_calendar .month_tbl td a:link,
.board_calendar .month_tbl td a:visited {color:#666666;letter-spacing:0;}
.board_calendar .month_tbl td a:hover,
.board_calendar .month_tbl td a:active,
.board_calendar .month_tbl td a:focus {color:#252525;letter-spacing:0;}
.board_calendar .month_tbl td .spc:link,
.board_calendar .month_tbl td .spc:visited,
.board_calendar .month_tbl td .spc:hover,
.board_calendar .month_tbl td .spc:active,
.board_calendar .month_tbl td .spc:focus {color:#252525;font-weight:bold;text-decoration:underline;letter-spacing:0;}



.tblPage {margin:15px 0;text-align:center;}
.tblPage a {display:inline;padding:0 3px;}
.tblPage a:link,
.tblPage a:visited {font-size:11px;}
.tblPage a:hover {font-size:11px;color:#3a74af;text-decoration:underline;}
.tblPage .page_ov:link,
.tblPage .page_ov:visited,
.tblPage .page_ov:hover {font-size:11px;color:#3a74af;font-weight:bold;text-decoration:underline;}
.tblPage span{font-size:11px;color:#3a74af;font-weight:bold;text-decoration:underline;display:inline;padding:0 2px;}

/** ucc List ***/

	.boardUcc {margin:20px 0; border-top:2px solid #B6C2D2; border-bottom:2px solid #B6C2D2;}
	.uccList {margin:0;padding:0;}
	.uccList li {height:94px;padding:23px 0 26px 0;background:url(/resources/images/ucc_01_dot.gif) repeat-x left bottom;*zoom:1;}
	.uccList li:after {contne:"";display:block;visibility:hidden;clear:both;}
	.uccList li.no_bul {background:none;}
	.uccList li p {float:left;width:178px;height:94px;margin:0 14px 0 0;text-align:center;}
	.uccList li dl {float:left;width:448px;height:94px;margin:0;padding:0;}
	.uccList li dl dt {margin:0 0 3px 0;padding:0;}
	.uccList li dl dt a {color:#84796b;font-size:15px;font-weight:bold;}
	.uccList li dl dt a:link,
	.uccList li dl dt a:visited,
	.uccList li dl dt a:active {color:#1f4475;}
	.uccList li dl dt a:hover {color:#ff6600;}
	.uccList li dl dd {margin:0;padding:2px 0;letter-spacing:-1px;}
	.uccList li dl dd.list_data {text-align:left;font-size:11px;color:#969696;letter-spacing:0px;}	
		/** ucc View ***/
	
	
	.uccView {padding:17px 13px;border:2px solid #B6C2D2;}
	.uccView h4{margin:0 0 5px 0;padding:5px;font-size:15px;font-weight:bold;letter-spacing:0;text-indent:0;color:#1f4475;background:none;background-color:#f1f0ef;}
	.uccView h5 {margin:8px 0 5px 0px;padding:0;text-indent:0;color:#454545;background:none;}
	.uccView p.uccView_data {margin:0;padding:0;font-size:11px;color:#969696;letter-spacing:0;line-height:18px;background:url(/resources/images/ucc_01_dot.gif) repeat-x left bottom;}
	.uccView .ucc_play_box {width:606px;height:293px;margin:16px 0 10px 0;padding-bottom:10px;background:url(/resources/images/ucc_01_dot.gif) repeat-x left bottom;}
	.uccView .ucc_play {margin:0 auto;width:470px;height:293px;}
	.ucc_text {overflow-y:scroll;height:100px;padding:10px;font-weight:normal;background:#f1f1f1;}
	
	
/********** UCC ************/
.ucc_view{width:610px; padding:17px 13px; border:2px solid #b6c2d2;}
.ucc_view h4{margin:0px 0px 5px 0px; padding:5px; font-size:15px; font-weight:bold; letter-spacing:0px; text-indent:0px; color:#11345c; background:none; background-color:#f0f3f6;}
.ucc_view p{margin:0px; padding:0px; font-size:11px; color:#969696; letter-spacing:0px; line-height:18px;}
.ucc_view_dot{width:602px; height:1px; line-height:1px; font-size:0px; background:url(/resources/images/ucc_01_dot.gif) repeat-x left top;}
.ucc_view .ucc_play_box{width:606px; height:293px; margin-top:16px;}
.ucc_view .ucc_play{float:left; width:470px; height:293px;}
.ucc_view .ucc_play span{height:20px;width:400px;text-align:center;margin-top:100px;display:block;}
.ucc_view .ucc_list{float:right; width:128px; height:293px; margin:0px; padding:0px; background:url(/resources/images/ucc_list.gif) no-repeat left top;}
.ucc_view .ucc_list dt{margin:0px; padding:0px;}
.ucc_view .ucc_list dd{margin:0px; padding:0px;}
.ucc_view .ucc_list dd ul{width:100px; margin-left:18px;}
.ucc_view .ucc_list dd ul li p{text-align:center; margin:5px 0px; padding:0px;}
.ucc_view .ucc_list dd ul li p a:link{color:#666666; font-weight:bold;}
.ucc_view .ucc_list dd ul li p a:visited{color:#666666; font-weight:bold;}
.ucc_view .ucc_list dd ul li p a:active{color:#666666; font-weight:bold;}
.ucc_view .ucc_list dd ul li p a:hover{color:#ff6600; font-weight:bold;}

.ucc_tag{width:606px;margin-top:5px; padding-bottom:5px; background:url(/resources/images/ucc_01_dot.gif) repeat-x left bottom;}
.ucc_view h5{margin:8px 0px 5px 0px; padding:0px; text-indent:0px; background:none; color:#454545; font-weight:bold;}
.ucc_text{background:#f1f1f1; height:100px; padding:10px; overflow-y:scroll;}
