<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ad-Mapper">

	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like
			'%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			writer like '%'||#{keyword}||'%'
			or
			content like
			'%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			writer like
			'%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'
			)
		</if>
	</sql>

	<select id="selectSearchAdList"
		parameterType="com.trex.request.Criteria" resultType="ad">
		<![CDATA[
			select
			*
			from
			ad
			where ad_num is not null 
		]]>
		<include refid="search" />
		order by ad_num desc

	</select>

	<select id="selectSearchAdListCount" resultType="int">
		<![CDATA[
			select
			count(*)
			from
			ad
			where ad_num is not null  
		]]>
		<include refid="search" />

	</select>

	<select id="selectAdList" resultType="ad">
		select *
		from ad
		order by
		ad_num desc
	</select>


	<select id="selectAdListBanner" resultType="ad">
		select *
		from ad
		<![CDATA[
		where (startDate < sysdate+1) and (endDate > sysdate-1) 
		]]>
		and app_result = 1
		order by
		ad_num desc
	</select>

	<select id="selectAdByad_num" resultType="ad">
		select *
		from ad
		where
		ad_num = #{ad_num}
	</select>

	<update id="insertAd" parameterType="ad">
		insert
		into
		ad(ad_code,ad_num,title,writer,cont,enddate,img,thumbimg,pf_code)
		values
		(#{ad_code},#{ad_num},#{title},#{writer},#{cont},#{enddate},#{img},#{thumbimg},#{pf_code})
	</update>

	<update id="updateAd" parameterType="ad">
		update
		ad
		set
		title=#{title},
		cont=#{cont}, modidate = sysdate
		where ad_num = #{ad_num}
		


	</update>
	<update id="deleteAd" parameterType="int">
		delete
		from ad
		where ad_num =
		#{ad_num}
	</update>

	<update id="increaseViewCnt" parameterType="int">
		update
		ad
		set
		viewcnt =
		viewcnt+1
		where ad_num = #{ad_num}
	</update>
	<update id="updateAgree1" parameterType="ad">
		update
		ad
		set
		app_result = 1
	</update>
		<update id="updateAgree2" parameterType="ad">
		update
		ad
		set
		app_result = 2
	</update>
	
	<select id="selectAdBypf_code" resultType="ad">
	
		select ad.pf_code, member.mem_code
		from ad as a 
		join member as m
		on a.pf_code = m.mem_code
		
	
	
	</select>
	
		

	<select id="selectAdSeqNext" resultType="int">

		select adv_seq.nextval
		as ad_num from dual

	</select>



</mapper>
	