<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="AttachMapper">

	<select id="selectAttachesByAttachCode" resultType="attach">
		select *
		from
		attach
		where attach_code = #{attach_code}
	</select>

	<select id="selectAttachByPostcode" resultType="attach">
		select *
		from
		attach
		where post_code=#{post_code}
	</select>

	<update id="insertAttach">
		insert into
		attach (attach_code,attach_num,
		fileName,fileType, fileSize, filePath,writer, uuid, post_code)
		values
		(${attach_code} ,${attach_num}, ${fileName},${fileType}, ${fileSize},
		${filePath}, ${writer} , ${uuid}, ${post_code} )
	</update>

	<update id="deleteAttach">
		delete from attach
		where attach_code =#{attach_code}
	</update>

	<update id="deleteAllAttach">
		delete
		from attach
		where attach_code = #{attach_code}
	</update>
	
	<select id="NextSeq" resultType="int">
		select attach_seq.nextval as attach_num from dual
	</select>

</mapper>








