<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CRApp-Mapper">

	<select id="selectCRAppList" resultType="CRApp">
		select * 
		from cr_app 
		order by cr_app_code desc		
	</select>
	
	<select id="selectCRApp"  resultType="CRApp">
		select * 
		from cr_app 
		where cr_app_code=#{cr_app_code}
	</select>
	
	<update id="insertCRApp">
		insert 
		into 
		cr_app(cr_app_code,cr_app_num,title,writer,cont,hall_code,pf_code,startdate,enddate)
		values
		(#{cr_app_code},#{cr_app_num},#{title},#{writer},#{cont},#{hall_code},#{pf_code},#{startdate},#{enddate})
	</update>
	
	<update id="updateCRApp" >
		update 
		cr_app 
		set 
		title=#{title}, cont=#{cont}, updatedate=sysdate 
		where cr_app_code=#{cr_app_code}
	</update>
	
	<update id="deleteCRApp" >
		delete 
		from cr_app 
		where cr_app_code=#{cr_app_code}
	</update>
	
	<update id="enableList" >
		update
		cr_app 
		set
		enable = 2
		where cr_app_code=#{cr_app_code}
	</update>
	
	<select id="selectCRAppNextSeq" resultType="int">
		select APP_SEQ.nextval as cr_app_num from dual
	</select>


</mapper>