<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageGmember-Mapper">

	<select id="selectMemberByName" resultType="mypageGmember">
	
		select *
		from gmem
		where gmem_code = #{mem_code}
	</select>

	<update id="updateGmember" parameterType="Gmember">
		update gmem
		set
		mem_pwd={mem_pwd},mem_email={mem_email},address={address},tell={tell}
		where gmem_code = #{mem_code}
	</update>
	
	<update id="deleteGmember" parameterType="str">
		delete
		from gmem
		where gmem_code = #{mem_code}
	</update>
	
</mapper>