<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageMemberBoard-Mapper">

	<update id="insertMemberBoard" > 
		insert into qna (qna_code, qna_num , title, cont, writer)
		values(#{qna_code} ,qna_seq.nextval,#{title},#{cont},#{writer})
	</update>

	<select id="selectMemberBoardByNum" resultType="mypageBoard">
		select *
		from qna
		where writer=#{gmem_code}
	</select>

	<update id="updateMemberBoard" parameterType="member">
		update qna
		set title=#{title}, cont=#{cont}, updatedate=#{updatedate}
		where
		qna_num=#{qna_num}
	</update>

	<update id="deleteMemberBoard" parameterType="member">
		delete
		from qna
		where qna_num=#{qna_num}
	</update>

	<update id="increaseViewCnt">
		update qna set viewcnt=viewcnt+1
		where
		qna_num=#{qna_num}
	</update>

	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			content like '%'||#{keyword}||'%'
			or
			writer like '%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'
			or
			writer like '%'||#{keyword}||'%'
			)
		</if>
	</sql>

	<select id="selectSearchMemberBoardList" resultType="mypageBoard">
		<![CDATA[
			select * 
			from qna
			where qna_num>0
		]]>
		<include refid="search"></include>
		order by qna_num desc
	</select>
	
	<select id="selectSearchMemberBoardCount" resultType="int">
		<![CDATA[
			select count(*)
			from qna
			where qna_num>0
		]]>
		<include refid="search"></include>
	</select>

	<select id="selectMemberBoardAll" resultType="mypageBoard">
		select *
		from qna
		order by qna_num desc,regDate desc
	</select>

</mapper>