<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageTroupe-Mapper">

	<select id="selectTroupeByName" resultType="mypageTroupe"> 
		select *
		from troupe
		where tro_code = #{mem_code}
	</select>

	<update id="updateTroupe" parameterType="str">
		update troupe
		set
		mem_pwd={mem_pwd},mem_email={mem_email}
		where tro_code=#{mem_code}
	</update>
	
	<update id="deleteTroupe" parameterType="str">
		delete
		from troupe
		where tro_code = #{mem_code}
	</update>

</mapper>