<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice-Mapper">

	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and cont like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			cont like
			'%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			writer like '%'||#{keyword}||'%'
			or
			cont like
			'%'||#{keyword}||'%'
			)
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			writer like
			'%'||#{keyword}||'%'
			or
			cont like '%'||#{keyword}||'%'
			)
		</if>
	</sql>

	<select id="selectNoticeList" resultType="Notice">
		select notice_num,
		title,
		writer,
		regdate,
		viewcnt
		from notice
		where notice_num is not null
		order by notice_num desc
	</select>

	<select id="selectNotice" resultType="Notice">
		select *
		from notice
		where notice_num=#{notice_num}
	</select>

	<update id="insertNotice" parameterType="Notice">
		insert into
		notice(title, cont)
		values(#{title},#{cont})
	</update>

	<update id="updateQnABoard" parameterType="qnaboard">
		update notice
		set
		title=#{title}, cont=#{cont}, modidate=#{modidate}
		where notice_num=#{notice_num}
	</update>
	
	<update id="deleteNotice" parameterType="int">
		delete
		from notice
		where notice_num=#{notice_num}
	</update>

	<update id="increaseViewCnt" parameterType="int">
		update notice set viewcnt=viewcnt+1
		where 
		notice_num=#{notice_num}
	</update>

	<select id="selectNoticeSeqNext" resultType="int">
		select notice_seq.nextval as notice_num from dual
	</select>
	
</mapper>